DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback
DISCORD_GUILD_ID=
DISCORD_ADMIN_GUILD_ID=
DISCORD_BOT_TOKEN=
DISCORD_VERIFY_ROLE_ID=
PUBLIC_BASE_URL=http://localhost:3000
RESTORE_GUILD_ID=
RESTORE_REDIRECT_URI=http://localhost:3000/api/restore/callback
MONGODB_URI=
MONGODB_DB=repdock
AUTH_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ACBUY_APP_ID=
ACBUY_SECRET_KEY=
REMBG_COMMAND=.local-bin/rembg
REPDOCK_TMP_DIR=/tmp
