DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback
DISCORD_GUILD_ID=
DISCORD_BOT_TOKEN=
MONGODB_URI=
MONGODB_DB=repdock
AUTH_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REMBG_COMMAND=rembg
REPDOCK_TMP_DIR=C:\tmp
